<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <app-game-control (incrementCount)="handleIncrementCounted($event)"></app-game-control>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-3">
      <div *ngFor="let odd of sendOddNumber">
        <app-odd [receiveOddNumber]="odd"></app-odd>
      </div>
    </div>
    <div class="col-3">
      <div *ngFor="let even of sendEvenNumber">
        <app-even [receiveEvenNumber]="even"></app-even>
      </div>
    </div>
  </div>
</div>
